<section class="w-full p-2">
  <h1 class="font-bold mb-2 w-full text-slate-500 text-lg">Poke Explorer</h1>
  <div class="grid grid-cols-12 gap-4">
    <form [formGroup]="filterForm"
      (ngSubmit)="onSubmit()" 
      class="mb-4 bg-white rounded col-span-3 shadow p-4 sticky top-[20px] h-fit">
      <h2 class="mb-2 font-semibold">Filters</h2>

      <lib-poke-type-select class="block mb-4" formControlName="type"></lib-poke-type-select>
      
      <h2 class="mb-2 font-semibold">Sorts</h2>

      <span class="p-fluid block mb-2">
        <p-dropdown [options]="SORT_BY" 
          placeholder="Sort By"
          formControlName="sort"
          [filter]="true"
          filterBy="label">
        </p-dropdown>
      </span>

      <span class="p-fluid">
        <p-dropdown [options]="ORDER" 
          placeholder="Order"
          formControlName="order">
        </p-dropdown>
      </span>
 
      <div class="flex justify-end gap-1 mt-4">
        <button pButton
          class="p-button-sm p-button-secondary"
          [text]="true"
          icon="pi pi-times"
          label="Reset"
          type="button"
          (click)="filterForm.reset({ sort: 'number', order: 'asc' })">
        </button>

        <button pButton
          class="p-button-sm"
          icon="pi pi-search"
          [text]="true"
          label="Submit"
          type="submit">
        </button>
      </div>
    </form>
    <div class="bg-white shadow col-span-9 p-2 rounded"
      infiniteScroll
      [infiniteScrollThrottle]="400"
      [infiniteScrollDistance]="0"
      (scrolled)="onScroll()">
      <lib-poke-list [data]="vm$ | async"
        [libSpinner]="loading">
      </lib-poke-list>
    </div>
  </div>
</section>

<p-scrollTop />